<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>Slide001</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <main role="main" class="limitsBody" id="app">
        <a href="../index.html">
            <div class="btnHome">
            </div>
        </a>
        <a href="../page_6.html">
            <div class="btnPrev">
            </div>
        </a>
        <a href="../page_6.html"><img src="../Slide_3/regen/btnnext_u1.png" class="adelante" alt=""></a>
        <div class="colbuttons">
            <div v-for="(fila, indiceFila) in memorama" :key="indiceFila" class=" buttons">
                <div :key="indiceFila+''+indiceImagen" v-for="(imagen, indiceImagen) in fila">
                    <div class="m-3">
                        <img @click="voltear(indiceFila, indiceImagen)" :class="{'girar': imagen.mostrar}" :src="(imagen.mostrar ? imagen.ruta :
                                        NOMBRE_IMAGEN_OCULTA)" class="card-img-top img-fluid
                                        img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
        <a href="../page_8.html"><img src="./regen/btnnext_u1.png" class="adelante" alt=""></a>
    </main>
    <script src="./js/sweetalert2.all.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>